@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
header{
    background-color: rgb(229, 84, 115,0.10);
}
p{
    color: rgb(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
button{
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    padding: 15px 28px;
    cursor: pointer;
    transition: all 1s;
}
button:hover{
    background-color: #f20034;
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-text *{
    margin-bottom: 32px;
    max-width: 525px;
}
.banner-text h1{
    color: #272727;
    font-size: 60px; 
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner .banner-img img{
    width: 100%;
    vertical-align: middle;
}
.section-heading{
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}
.section-heading h2{
    color:#272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}
#featured{
    padding: 100px 0;
}
.section-contain{
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: end;
}
.section-contain .flower .flower-img{
    /* background-color: #A72162; */
    border-radius: 300px 300px 0px 0px;
    padding: 30px 25px 0px;
    height: 500px;
    display: flex;
    align-items: end;
}
.section-contain .flower .flower-img img{
    width: 100%;
}
.section-contain .flower .pink {
    background-color: rgb(167, 33, 98,0.15);
    border-radius: 300px 300px 0px 0px;
}
.section-contain .flower .blue {
    background-color: rgb(5, 151, 160,0.15);
    border-radius: 300px 300px 0px 0px;
}
.section-contain .flower .green {
    background-color: rgb(71, 125, 17,0.15);
    border-radius: 300px 300px 0px 0px;
}
.section-contain p{
    color: #272727;
    margin-top: 16px;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.resource-data {
    display: flex;
    justify-content: space-between;
    margin-top: 20PX auto;
    background-color: rgb(39, 39, 39,0.5);
    align-items: center;
    text-align: center;
    border-radius: 5px;
    height: 200px;
}
.resource-data .data{
    padding: 0px 60px;
}
.resource-data .data p{
    color: #272727;
    font-weight: 600;
    line-height: 35px;
    font-size: 20px;
}